*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background: #ddd;
}
.header{
    background: #220022;
    padding: 10px 8px;
    text-align: right;
    text-transform: capitalize;
    color: #ddd;
    margin-bottom: 5px;
}
.container{
    padding: 10px;
    background: #eaeaea;
}
.chat_window{
    width: 100%;
}
.chats{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #eaeaea;
    width: 100%;
}
.chats form{
    width: 100%;
    display:block;
}
.chats input{
    padding: 8px;
    text-align: center;
    border: 0;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
    background: rgba(22, 33, 22, 1);
    color: #eee;
}
.chats input[type="submit"]{
    background: #3b5998;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    color: #ddd;
}
strong{
    text-transform: capitalize;
}
